@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

:root {
    --color-primary: #5F6FFF;
}
  
.bg-primary {
    background-color: var(--color-primary);
}
  
.text-primary {
    color: var(--color-primary);
}

::-webkit-scrollbar{
    @apply hidden
}