@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

:root {
  --grid-cols-auto: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}

.bg-primary{
  @apply bg-[#5f6FFF]
}

.text-primary{
  @apply text-[#5f6FFF]
}

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}
